# Reading HDF5 compound fields into Pandas

In [88]:
import h5py
import numpy as np
import pandas as pd
%matplotlib inline

In [89]:
FILENAME = "../sol_101_op2.h5"
KEY = "NASTRAN/INPUT/ELEMENT/CBUSH"

In [90]:
    h5file = h5py.File(FILENAME)

    dataset = h5file[KEY]
    dataset

In [91]:
print(dataset)
print(dataset[0])
print(dataset[1])
print(dataset[2])
print(list(dataset))
print()
print([list(x) for x in dataset])

<HDF5 dataset "CBUSH": shape (10,), type "|V128">
(1, 1, 1, 2, 2,  0.,  0.,  0., 12, -1,  0.5, -1,  0.,  0.,  0., 1)
(2, 1, 2, 3, 2,  0.,  0.,  0., 12, -1,  0.5, -1,  0.,  0.,  0., 1)
(3, 1, 3, 4, 2,  0.,  0.,  0., 12, -1,  0.5, -1,  0.,  0.,  0., 1)
[(1, 1, 1, 2, 2,  0.,  0.,  0., 12, -1,  0.5, -1,  0.,  0.,  0., 1), (2, 1, 2, 3, 2,  0.,  0.,  0., 12, -1,  0.5, -1,  0.,  0.,  0., 1), (3, 1, 3, 4, 2,  0.,  0.,  0., 12, -1,  0.5, -1,  0.,  0.,  0., 1), (4, 1, 4, 5, 2,  0.,  0.,  0., 12, -1,  0.5, -1,  0.,  0.,  0., 1), (5, 1, 5, 6, 2,  0.,  0.,  0., 12, -1,  0.5, -1,  0.,  0.,  0., 1), (6, 1, 6, 7, 2,  0.,  0.,  0., 12, -1,  0.5, -1,  0.,  0.,  0., 1), (7, 1, 7, 8, 2,  0.,  0.,  0., 12, -1,  0.5, -1,  0.,  0.,  0., 1), (8, 1, 8, 9, 2,  0.,  0.,  0., 12, -1,  0.5, -1,  0.,  0.,  0., 1), (9, 1, 9, 10, 2,  0.,  0.,  0., 12, -1,  0.5, -1,  0.,  0.,  0., 1), (10, 1, 10, 11, 2,  0.,  0.,  0., 12, -1,  0.5, -1,  0.,  0.,  0., 1)]

[[1, 1, 1, 2, 2, 0.0, 0.0, 0.0, 12, -1, 0.5, -1, 0.0, 0.0, 0.0, 1], [2, 1, 2, 3, 2, 0.0, 0.0, 0.0, 12, -1, 0.5, -1, 0.0, 0.0, 0.0, 1], [3, 1, 3, 4, 2, 0.0, 0.0, 0.0, 12, -1, 0.5, -1, 0.0, 0.0, 0.0, 1], [4, 1, 4, 5, 2, 0.0, 0.0, 0.0, 12, -1, 0.5, -1, 0.0, 0.0, 0.0, 1], [5, 1, 5, 6, 2, 0.0, 0.0, 0.0, 12, -1, 0.5, -1, 0.0, 0.0, 0.0, 1], [6, 1, 6, 7, 2, 0.0, 0.0, 0.0, 12, -1, 0.5, -1, 0.0, 0.0, 0.0, 1], [7, 1, 7, 8, 2, 0.0, 0.0, 0.0, 12, -1, 0.5, -1, 0.0, 0.0, 0.0, 1], [8, 1, 8, 9, 2, 0.0, 0.0, 0.0, 12, -1, 0.5, -1, 0.0, 0.0, 0.0, 1], [9, 1, 9, 10, 2, 0.0, 0.0, 0.0, 12, -1, 0.5, -1, 0.0, 0.0, 0.0, 1], [10, 1, 10, 11, 2, 0.0, 0.0, 0.0, 12, -1, 0.5, -1, 0.0, 0.0, 0.0, 1]]

In [92]:
   dataset.dtype

dtype([('EID', '<i8'), ('PID', '<i8'), ('GA', '<i8'), ('GB', '<i8'), ('FLAG', '<i8'), ('X1', '<f8'), ('X2', '<f8'), ('X3', '<f8'), ('GO', '<i8'), ('CID', '<i8'), ('S', '<f8'), ('OCID', '<i8'), ('S1', '<f8'), ('S2', '<f8'), ('S3', '<f8'), ('DOMAIN_ID', '<i8')])

In [93]:
    df = pd.DataFrame((list(x) for x in dataset), columns=dataset.dtype.fields.keys())
    df

,EID,PID,GA,GB,FLAG,X1,X2,X3,GO,CID,S,OCID,S1,S2,S3,DOMAIN_ID
0,1,1,1,2,2,0.0,0.0,0.0,12,-1,0.5,-1,0.0,0.0,0.0,1
1,2,1,2,3,2,0.0,0.0,0.0,12,-1,0.5,-1,0.0,0.0,0.0,1
2,3,1,3,4,2,0.0,0.0,0.0,12,-1,0.5,-1,0.0,0.0,0.0,1
3,4,1,4,5,2,0.0,0.0,0.0,12,-1,0.5,-1,0.0,0.0,0.0,1
4,5,1,5,6,2,0.0,0.0,0.0,12,-1,0.5,-1,0.0,0.0,0.0,1
5,6,1,6,7,2,0.0,0.0,0.0,12,-1,0.5,-1,0.0,0.0,0.0,1
6,7,1,7,8,2,0.0,0.0,0.0,12,-1,0.5,-1,0.0,0.0,0.0,1
7,8,1,8,9,2,0.0,0.0,0.0,12,-1,0.5,-1,0.0,0.0,0.0,1
8,9,1,9,10,2,0.0,0.0,0.0,12,-1,0.5,-1,0.0,0.0,0.0,1
9,10,1,10,11,2,0.0,0.0,0.0,12,-1,0.5,-1,0.0,0.0,0.0,1

In [99]:
print(df.loc[2].PID)
print(df.loc[7].FLAG)
print(df.iloc[2:5])

1.0
2.0
   EID  PID  GA  GB  FLAG   X1   X2   X3  GO  CID    S  OCID   S1   S2   S3  \
2    3    1   3   4     2  0.0  0.0  0.0  12   -1  0.5    -1  0.0  0.0  0.0
3    4    1   4   5     2  0.0  0.0  0.0  12   -1  0.5    -1  0.0  0.0  0.0
4    5    1   5   6     2  0.0  0.0  0.0  12   -1  0.5    -1  0.0  0.0  0.0

   DOMAIN_ID
2          1
3          1
4          1